services:
  server:
    build:
      context: ./server
    environment:
      - PORT=8083
    ports:
      - "8083:8083"
    restart: unless-stopped
  client:
    build:
      context: ./client
      args:
        VITE_SOCKET_URL: http://localhost:8083
    ports:
      - "5174:8080"
    depends_on:
      - server
    restart: unless-stopped
