/* body {
  background: url('./Images/illustration_textured_50.png');
} */

body {
  background-color: #5A565B;
}

/* Buttons */

#join {
  margin-left: 60px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-content: center;
}


#register {
  margin-left: 60px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Titles and Headings */
.server-title {
  margin-top: 20px;
  font-family: cursive;
  font-size: 45px;
  text-align: center;
}

.navbar navbar-light bg-light {
  margin-top: 20px;
  padding-left: 10px;
  font-family: cursive;
  color: black;
  background-color: seagreen;
}

#live-members {
  font-size: 15px;
  font-weight: bold;
  color: whitesmoke;
}

#survey.btn btn-primary btn-primary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-top: 80px;
  padding-left: 20px;
  margin-left: 178px;

}

.choice-buttons {
  margin-right: 10px;
}

.col-xs-12 col-sm-6 btn btn-primary {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  
}

.employee {
  margin-top: 35px;
  font-size: 20px;
  font-weight: bold;
}

.btn-group-vertical {
  position: relative;
  left: 5em;
  display: flex;
  justify-content: space-between;

}
 #a {
   left: -5em;
 }
 #b {
  left: -5em;
}

#c {
  left: -5em;
}

#d {
  left: -5em;
}